
  
  <main class="container">

	<br>
	<br>
	 <!--message Area-->
	 <%if(message.length>0){%>
		<div class="alert alert-danger">
			<%=messages%>
		</div>
		<%}%>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<form id="form" name="myForm" class="form" action="/login/password" autocomplete="off"  method="POST">

				<div class="form-group form-row">
					<label class="form-label" id="usernameLabel" for="username"></label>
					<input type="text" class="form-control" id="username" name="username" placeholder="Username" tabindex="1">
				</div>

				<div class="form-group">
					<label class="form-label" id="passwordLabel" for="password"></label>
					<input type="password" class="form-control" id="password" name="password" placeholder="Password" tabindex="2">
					<a href="/register">Register</a>
				</div>

				<div id="submitButton" class="text-center margin-top-25">
					<!-- <button type="submit" class="btn btn-mod btn-border btn-large">Login</button> -->
					<input type="button" class="btn btn-mod btn-border btn-large" value="login">
					<a href="/">
						<input type="button" class="btn btn-warning" value="cancel">
					</a>
				</div>

			</form><!-- End form -->
		  
		</div><!-- End col -->

	</div><!-- End row -->
	
  </main><!-- End container -->
  

