<form class="form-horizontal h-100 " action="#" method="post">
<div class="contact-div-wrapper">
    <div class="form-group">
        <label class="control-label" for="name">Enter Name: </label>
        <div>
            <input type="email" class="form-control" id="name" placeholder="John Smith">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="phNum">Contact Number: </label>
        <div>
            <input type="email" class="form-control" id="phNum" placeholder="(###)###-####">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="email">Email:</label>
        <div>
            <input type="email" class="form-control" id="email" placeholder="johnsmith@diligentt.ca">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="msg">Message:</label>
        <div>
            <textarea class="form-control" id="msg"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div>
            <button type="submit" class="btn btn-default btn-light">Submit</button>
        </div>
    </div>
</div>
</form>