
  <div class="container-form container">

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<form id="form" name="myForm" class="form" action="/" onsubmit="return validateForm()"  method="get">

				<div class="form-group form-row">
					<label class="form-label" id="nameLabel" for="name"></label>
					<input type="text" class="form-control" id="name" name="name" placeholder="Your name" tabindex="1">
				</div>

				<div class="form-group">
					<label class="form-label" id="emailLabel" for="email"></label>
					<input type="email" class="form-control" id="email" name="email" placeholder="Your Email" tabindex="2">
				</div>

				<div class="form-group">
					<label class="form-label" id="subjectLabel" for="subject"></label>
					<input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" tabindex="3">
				</div>

				<div class="form-group">
					<label class="form-label" id="messageLabel" for="message"></label>
					<textarea rows="6" cols="60" name="message" class="form-control" id="message" placeholder="Your message" tabindex="4"></textarea>                                 
				</div>

				<div id="submitButton" class="text-center margin-top-25">
					<button type="submit" class="btn btn-mod btn-border btn-large">Send Message</button>
				</div>

			</form><!-- End form -->
		  
		</div><!-- End col -->

	</div><!-- End row -->
	
  </div><!-- End container -->
  

