<%- include('partials/header.ejs') %>

  <%- include('partials/main_nav.ejs') %>


    <div class="jumbotron">
      <h1 class="display-1">
        A diliGentt Portfolio
      </h1>
    </div>

    <p>
      Insert Welcome Message Here
    </p>
    <p>
      Insert Mission Statement Here
    </p>
    <p>
      Insert Redirect to about me here
    </p>


    <%- include('partials/bottom_nav.ejs') %>
      <%- include('partials/footer.ejs') %>