/*
File name: Variables 
Student’s Name: Garnett Akeele Grant
StudentID: 3011188923
Date: October 2nd, 2022
*/
// Colors
$mainBlack: black;
$background: rgb(19, 19, 19);
$mainBlue: #dce6f0;
$gitBlue: #0d1117;
$niceBlue: #06244267;